#selectedWorkDiv {
  margin-top: 40px;
}

.selectedProjectDiv {
  margin-bottom: 70px;
  transition: transform 0.1s ease;
}

.selectedProjectDiv:hover {
  transform: scale(1.02);
}

.TitleGymTracker {
  text-decoration: underline;
  text-decoration-color: #da9d2c;
}

.TitleRapperdle {
  text-decoration: underline;
  text-decoration-color: #5bc069;
}

.TitleAuctionsApp {
  text-decoration: underline;
  text-decoration-color: #bc80d8;
}

.TitleTyper {
  text-decoration: underline;
  text-decoration-color: #432980;
}

.projectTitle {
  font-size: 30px;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

@media (max-width: 600px) {
  .titleDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  .titleDiv img {
    width: 30px;
  }
  .workInProgressDiv {
    margin-top: 8px;
    text-align: center;
  }
}

.workInProgress {
  color: rgb(199, 55, 55);
  background-color: rgb(53, 13, 13);
  padding: 3px;
}

.techDiv {
  display: flex;
  gap: 5px;
}

.techImg {
  width: 40px;
}

.linksDiv {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.linksDiv a {
  color: rgb(0, 0, 0);
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.github {
  background-color: #d1d7ff;
}

.github img {
  width: 25px;
}

.demo {
  background-color: #9fa8e2;
}
